* {
    box-sizing: "border-box";
    margin: 0;
    padding: 0;
    text-align: center;
  }

  canvas {
    margin-top: 20px;
    background-color: #ffed95;
    border: 3px solid #671616;
    border-radius: 6px;
  }


  .controls-container {
    display: flex;
    align-items: center;
  }